<div class="groq-container">
    <div class="output-box">
        <div class="texte-container">
            <div><i class="fa-solid fa-comment"></i> Chaterr.a :</div>
            <div class="typing-container" [ngClass]="{ 'show': isTyping }">{{ displayedText }}</div>
        </div>
    </div>

    <div class="groq-input">
        <i class="fa-solid fa-robot icon"></i>
        <input type="text" (keydown.enter)="sendMessage($event)" [(ngModel)]="inputText" placeholder="Posez-moi une question...">
        <div *ngIf="sendingMessage" class="loader"></div>
        <button id="erase-btn" (click)="clearChat()" >Effacer</button>
    </div>

    <!-- <div class="groq-option-container">
        <button class="groq-option" (click)="clearChat()">
            <p>Effacer</p>
            <i class="fa-solid fa-info icon-option"></i>
        </button>
        <button *ngIf="gameService.currentQuestion && !gameService.currentQuestion.answered" class="groq-option">
            <p>Donne moi un hint</p>
            <i class="fa-solid fa-lightbulb icon-option"></i>
        </button>
    </div> -->

</div>