<h1 class="title">TERR.A</h1>
<div #globeContainer1 class="globe-background fade-in"></div>
<div #globeContainer2 class="globe-background fade-out"></div>

<div class="button-container">
  <button (click)="triggerChangeGlobe(3)" >Trigger</button>
  <button (click)="hideText()" [ngClass]="{ 'hide-button': hideButton }">
    <span>Démarrer le quiz</span>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 74 74" height="34" width="34">
      <circle stroke-width="3" stroke="black" r="35.5" cy="37" cx="37"></circle>
      <path fill="black"
        d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z">
      </path>
    </svg>
  </button>
</div>

<div class="footer">
  <p>© 2025 TERR.A - Alexandre M. Julien R. Theo G.</p>
</div>

<div class="homepage-text" [ngClass]="{ 'hide': isHidden }">
  <p>
    Bienvenue sur TERR.A, votre <span class="important">voyage interactif</span> pour découvrir notre planète Terre ! 🌍
  </p>
  <p>
    Plongez dans<span class="important"> une aventure éducative avec des quiz</span> variés et captivants sur les villes
    emblématiques, les pays fascinants, et les défis environnementaux actuels comme les feux de forêt, la montée des
    eaux, et les émissions de CO2.
  </p>
  <p>
    Apprenez tout en vous amusant, et découvrez <span class="important">des explications et connaissances
      supplémentaires grâce à l'IA</span>
    pour une expérience toujours plus enrichissante.
  </p>
</div>

<app-quiz-popup *ngIf="showQuizPopup" [@slideIn] class="quiz-popup" (closePopup)="closeQuiz()"></app-quiz-popup>