<div class="ressources-text">
  <h3>Ressources</h3>
  <p style="text-align: left;">
    Earth Overshoot Day
    <span class="important">https://overshoot.footprintnetwork.org/newsroom/country-overshoot-days/</span>
  </p>
  <p>
    Jour de dépassement de la Terre (Earth Overshoot Day) 2025 - Ce jour marque la date à laquelle nous dépasserions la
    capacité de la Terre si tous les habitants de la planète consommaient comme ceux d'un pays donné.
  </p>
  <p style="text-align: left;">
    Production de blé par pays
    <span class="important">https://rankingroyals.com/agriculture/wheat-production-by-country-top-121-countries/</span>
  </p>
  <p>
    Le blé est la céréale la plus consommée au monde. Découvrez les 121 pays principaux producteurs et l’origine du blé,
    une plante de l’herbe "Triticum".
  </p>
  <p style="text-align: left;">
    Dataset des emissions de CO2 par pays
    <span class="important">https://www.kaggle.com/datasets/ulrikthygepedersen/co2-emissions-by-country</span>
  </p>
  <p>
    Un dataset complet des émissions de CO2 par pays, les données utilisées sont celle de 2016.
  <p style="text-align: left;">
    Bibliothèque de visualisation Globe
    <span class="important">https://github.com/vasturiano/globe.gl/tree/master</span>
  </p>
  <p>
    Une bibliothèque puissante pour créer des visualisations interactives en 3D du globe terrestre, idéale pour explorer
    les données géospatiales.
  </p>
</div>